{% extends 'base.html' %}

{% block content %}

<h1>Update Your Expense</h1>

<form action="" method="POST">
    <div class="mb-3">
        <label for="Amt" class="form-label">Amount Spent</label>
        <input type="number" class="form-control" name="Amt" id="Amt" value="{{ expense.Amt }}">
    </div>
    
    <div class="mb-3">
        <label for="Type" class="form-label">Type of Expenditure</label>
        <input type="text" class="form-control" name="Type" id="Type" value="{{ expense.Type }}">
    </div>

    <div class="mb-3">
        <label for="Desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="Desc" id="Desc" value="{{ expense.Desc }}">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock content %}
